numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
opencv-python
jupyter
jupyterlab
ipywidgets
notebook
torch==1.3.0
torchvision==0.4.1
face-alignment==1.2.0
librosa==0.7.0
av==8.0.3
numba==0.56.4
facenet-pytorch
pillow==6.2.2
mmcv